.lastName, .firstName {
    width: 70%;
    max-height: 40px;
    min-height: 30px;
    margin: 0 auto;
    opacity: 50%;
    margin-bottom: 0px;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    border: 1px solid rgb(190, 190, 190); 
    border-radius: 0.3em;
    transition-duration: 500ms;
}

.lastName:focus, .firstName:focus {
    filter: drop-shadow(0 0 0.20rem lightgreen);
    filter: drop-shadow(0 0 0.20rem lightblue);
    border-color: lightblue;
}

/* for wrong user input  */
.error-container{
    width: 80%;
    text-align: center;
    color: #d9534f;
    margin: 5px auto;
    height: 15px;
}
.wrong-input {
    filter: drop-shadow(0 0 0.20rem #d9534f);
    border-color: #d9534f;
}
.wrong-input:focus {
    filter: drop-shadow(0 0 0.20rem #d9534f);
    border-color: #d9534f;
}

label {
    width: 30%;
    margin: auto;
    // position: relative;
    left: 15%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 1%;
}
