*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
    grid-gap: 52px;
    max-width: 1300px;
    margin: 100px auto 0;
    padding: 0 20px;
    justify-content: center;

    @media screen and (max-width: 712px) {
        grid-gap: 24px;
        margin: 0px auto 0;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 72px;
    max-width: 1300px;
    margin: 100px auto 0;
    padding: 0 20px;
    justify-content: center;
}