//------------------CARD line


.cardLineBox {
    display: grid;
    margin: 24px 0;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
    grid-template-areas:
        "cardLineHeader cardLineBody cardLineSet"
        "cardLineFooter cardLineFooter cardLineFooter ";

    @media screen and (max-width: 700px) {
        grid-template-areas:
            "cardLineHeader cardLineHeader cardLineSet"
            "cardLineBody cardLineBody cardLineBody"
            "cardLineFooter cardLineFooter cardLineFooter";
    }

    .cardLineHeader {
        display: flex;
        grid-area: cardLineHeader;
        //background-color: #009007;
        //height: 100px;
        border-radius: 16px;
        align-items: center;
        padding: 20px;
        min-width: 300px;
        //width: 240px;

        .cardLineImage {
            width: 80px;
            height: 80px;
        }

        .cardLineTitle {
            font-size: 18px;
            font-weight: bold;
            margin-left: 20px;
        }
    }

    .cardLineBody {
        grid-area: cardLineBody;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardLineFooter {

        display: flex;
        justify-content: center;
        grid-area: cardLineFooter;
        //background-color: #000;
        //height: 100px;
        border-radius: 16px;
        //min-width: 240px;
        padding: 20px;
        max-width: 500px;
    }

    .cardLineSet {
        grid-area: cardLineSet;
        font-size: 24px;
        display: flex;
        align-items: center;
        margin: 20px 10px;
        flex-direction: row-reverse;
        justify-content: center;
        border-radius: 17px;
    }
}


.dashItem {
    //background-color: #e6f2e4;
    //padding: 12px;
    //border-radius: 16px;
    grid-gap: 6px;
}