.headerCmp {
    display: flex;
    flex-direction: row;
    max-height: 76px;



    .headerCmpInfo {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 20px;





        .headerCmpSubTitle {
            color: green;
            font-weight: bold;
        }
    }
}







// ---------- AvatarSqare



.avatar,
img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.avatar {
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
    border-radius: 36%;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.avatarSqare {
    width: 60px;
    height: 60px;
}

.avatarSqareMin {

    height: 48px;
    width: 48px;
}






// ---------- Describe


.headerCmpDesc {
    font-size: 14px;
    color: #666;
}







//-------------- Titre

.title {
    font-weight: bold;
}


.titleCard {
    font-size: 18px;
    color: #000;
}

.titleComment {
    font-size: 14px;
    color: #4c4c4c;
}