.PostMiniCardBox {
    width: 270px;

    img {
        background-color: red;
        border-radius: 16px;
        min-height: 190px;
    }

    .PostMiniDash {
        display: grid;
        gap: 20px;
        grid-template-columns: 4fr 4fr 4fr;
        justify-content: center;
        align-items: center;
        align-content: center;

        margin-top: 20px;
    }

    .PostMiniDashItem {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #424242;

        .PostMiniCount {
            margin-right: 10px;
        }

    }
}